apiVersion: v1
kind: ResourceQuota
metadata:
  name: dev-quota
  namespace: ns-dev
spec:
  hard:
    requests.cpu: "2"
    requests.memory: 4Gi
    limits.cpu: "4"
    limits.memory: 8Gi
    pods: "10"
    services: "10"
    secrets: "20"
