apiVersion: v1
kind: ResourceQuota
metadata:
  name: staging-quota
  namespace: ns-staging
spec:
  hard:
    requests.cpu: "4"
    requests.memory: 8Gi
    limits.cpu: "8"
    limits.memory: 16Gi
    pods: "20"
    services: "20"
    secrets: "40"
